<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedri.To || Modern URL Shortener</title>
    {{!-- FontAwesome CSS --}}
    <link rel="stylesheet" href="/css/css/all.min.css">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/errors.css">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> --}}
</head>
<body>
    {{>navigation}}
    
    {{{body}}}
    {{> messages}}
    {{> errors}}
    
    {{>footer}}
    <script src="/js/sweetalert2@9.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/jquery-slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html> 